<input [(ngModel)]="_movieTitles.movie" #input>
<button (click)="movieEntry()" class="btn btn-link">enter</button>

<ul>
    <li *ngFor="let movieTitle of serviceArr">Movie Name: {{movieTitle}}
    </li>
</ul>
<!--NG FOR THROUGH THE RESULTS-->
<!--<p *ngFor="let data of arr_name">{{something here}}</p>-->
<!--<p>{{data.results[0].overview}}</p>-->
<!--<p>{{data.results[0].overview}}</p>-->
<!--<p>{{data.results[0].overview}}</p>-->
<!--<p>{{data.results[0].overview}}</p>-->
<section class="card">
    <ul>
        Movie Title: {{title}} <br> Overview: {{overview}} <br> Rating: {{vote_average}} <br> Release Date: {{release_date}} <br> Movie Image: {{poster_path}} </ul>
</section>
