<header class="header-6">
    <div class="branding">
        Lauren's Movie Database
    </div>
    <div class="header-nav">
        <a routerLink="home" class=" nav-link nav-text">Home</a>
        <a routerLink="movieTitles" class="nav-link nav-text">Search Movies</a>
        <a routerLink="register" class="nav-link nav-text">Create an Account</a>
        <a routerLink="login" class="nav-link nav-text">Login</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
