<p>
    register works!
</p>

<!--<form>-->
<!--<input [(ngModel)]="user.firstName" type="text" placeholder="First Name" [ngModelOptions]="{standalone: true}" />-->
<!--<input [(ngModel)]="user.lastName" type="text" placeholder="Last Name" [ngModelOptions]="{standalone: true}" />-->
<!--<input [(ngModel)]="user.email" type="email" placeholder="Email" [ngModelOptions]="{standalone: true}" />-->
<!--<input [(ngModel)]="user.password" type="password" placeholder="Password" [ngModelOptions]="{standalone: true}" />-->
<!--<button class="btn" type="submit" (click)="doRegister()">Register User</button>-->
<!--</form>-->
<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Register for an Account
        </label>
        <div class="login-group">
            <input [(ngModel)]="user.firstName" type="text" placeholder="First Name" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]="user.lastName" class="username" type="text" placeholder="Last Name" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]="user.email" class="username" type="text" id="login_username" placeholder="Email" [ngModelOptions]="{standalone: true}">
            <input [(ngModel)]="user.password" class="password" type="password" id="login_password" placeholder="Password" [ngModelOptions]="{standalone: true}">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary" (click)="doRegister()">NEXT</button>
            <a href="javascript://" class="signup">Sign up for a Company ID</a>
        </div>
    </form>
</div>
